{% extends 'base.html' %}
{% block content%}
<h3>Institution Name</h3>
<img src="media/default.jpg" height="100px" width="100px"><br><br>
<P><img src="media/app/location.png" height="20px" width="20px"> Located: Location</P>
<p><img src="media/app/office.png" height="20px" width="20px"> P.O BOX 000000</p>
<p><img src="media/app/email.png" height="20px" width="20px"><a href="mailto:"> ...@gmail.com</a></p>
<p><img src="media/app/web.png" height="20px" width="20px"><a href="www.ttu.ac.ke"> www.yoursite.ac.ke</a> </p>
<BR>
<br>
<br>
<h3><i>@developer</i></h3>
<p>Name: brianCodeGenius</p>
<p>Contact Infor: codegenius01@gmail.com </p>
<p>An IT4 student Taita Taveta University</p>

{% endblock content%}
